@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Lora&display=swap");

.site-layout-background {
  background: #fff;
}

.site-top-game-list ul {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

.fancy-menu-label {
  font-family: "Sora", "Space Grotesk", sans-serif;
  /* font-style: italic; */
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #2c2c2c;
  transition: color 0.3s ease;
}

.fancy-menu-label:hover {
  color: #1890ff;
}

/* for game label */
.game-label {
  font-family: "Lora", serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #333;
}
